@page "/Timeline"
@inject IJSRuntime JSRuntime
@inject ITimelineService TimelineService
@inject IPlanningService PlanningService
@inject ICommonService CommonService
@inject StateContainer StateContainer
@inject NavigationManager NavigationManager
@implements IAsyncDisposable


<div class="d-flex align-items-center gap-2 pb-2 w-100">
    <div class="col-auto">
        <input @bind="isView" @oninput="OnChangeView" class="form-check-input" type="checkbox">
        <label class="form-check-label" for="checkView">
            มุมมองจำนวนเงิน
        </label>
    </div>
    <div class="col-auto">
        <label for="dateStart" class="col-form-label">From</label>
    </div>
    <div class="col-auto">
        <input id="dateStart" class="form-control form-control-sm" />
    </div>

    <div class="col-auto">
        <label for="dateEnd" class="col-form-label">To</label>
    </div>
    <div class="col-auto">
        <input id="dateEnd" class="form-control form-control-sm" />
    </div>
    <button @onclick="@(()=> OnSearch())" class="btn btn-primary btn-sm" data-bs-toggle="tooltip"
            data-bs-placement="right" title="ค้าหา">
        <i class="fa-solid fa-magnifying-glass fa-xs"></i>
    </button>
</div>

<div class="table-wraper">
    <table class="table table-bordered table-sm table-striped table-hover table-timeline table-dashboard align-middle border-start border-end mb-0">
        <thead>
            <tr>
                <th class="d-flex align-items-center gap-2">
                    <div class=" w-50">สาขา</div>
                    <div class=" w-50">ยอดขาย</div>
                </th>
                @foreach (var model in column)
                {
                    <th class="text-center">@model</th>
                }
                <th style="width:3rem"></th>
            </tr>
        </thead>
        <tbody>
            @if (isView)
            {
                @foreach (var model in timelineSaleData.TimelineSaleList)
                {
                    <tr>
                        <td class="d-flex align-items-center gap-2">
                            <div class="d-inline-block text-truncate w-50"> @model.ORGANIZATION_NAME</div>
                            <div class="progress w-50" role="progressbar" aria-label="Success example">
                                <div class=@($"progress-bar {StyleProgress(model.Progress! , model.SUM_AMOUT!)}") style=@($"width: {calValueProgress(model.Progress! , model.SUM_AMOUT!)}%")>@($"{model.Progress}/{model.SUM_AMOUT}")</div>
                            </div>
                        </td>
                        <td class="text-center @(model.T00 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T00</td>
                        <td class="text-center @(model.T01 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T01</td>
                        <td class="text-center @(model.T02 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T02</td>
                        <td class="text-center @(model.T03 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T03</td>
                        <td class="text-center @(model.T04 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T04</td>
                        <td class="text-center @(model.T05 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T05</td>
                        <td class="text-center @(model.T06 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T06</td>
                        <td class="text-center @(model.T07 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T07</td>
                        <td class="text-center @(model.T08 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T08</td>
                        <td class="text-center @(model.T09 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T09</td>
                        <td class="text-center @(model.T10 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T10</td>
                        <td class="text-center @(model.T11 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T11</td>
                        <td class="text-center @(model.T12 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T12</td>
                        <td class="text-center @(model.T13 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T13</td>
                        <td class="text-center @(model.T14 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T14</td>
                        <td class="text-center @(model.T15 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T15</td>
                        <td class="text-center @(model.T16 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T16</td>
                        <td class="text-center @(model.T17 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T17</td>
                        <td class="text-center @(model.T18 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T18</td>
                        <td class="text-center @(model.T19 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T19</td>
                        <td class="text-center @(model.T20 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T20</td>
                        <td class="text-center @(model.T21 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T21</td>
                        <td class="text-center @(model.T22 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T22</td>
                        <td class="text-center @(model.T23 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T23</td>
                        <td class="text-center">
                            <i class="fa-solid fa-eye text-primary" style="cursor:pointer" @onclick="@(() => OnGoToDetail(model.ORGANIZATION_CODE!))"></i>
                        </td>
                    </tr>
                }
            }
            else
            {
                @foreach (var model in timelineData.TimelineList)
                {
                    <tr>

                        <td class="d-flex align-items-center gap-2">
                            <div class="d-inline-block text-truncate w-50"> @model.ORGANIZATION_NAME</div>
                            <div class="progress w-50" role="progressbar" aria-label="Success example">
                                <div class=@($"progress-bar overflow-visible {StyleProgress(model.Progress! , model.MAX_DROP!)}") style=@($"width: {calValueProgress(model.Progress! , model.MAX_DROP!)}%")>@($"{model.Progress}/{model.MAX_DROP}")</div>
                            </div>
                        </td>
                        <td class="text-center @(model.T00 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T00</td>
                        <td class="text-center @(model.T01 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T01</td>
                        <td class="text-center @(model.T02 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T02</td>
                        <td class="text-center @(model.T03 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T03</td>
                        <td class="text-center @(model.T04 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T04</td>
                        <td class="text-center @(model.T05 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T05</td>
                        <td class="text-center @(model.T06 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T06</td>
                        <td class="text-center @(model.T07 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T07</td>
                        <td class="text-center @(model.T08 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T08</td>
                        <td class="text-center @(model.T09 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T09</td>
                        <td class="text-center @(model.T10 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T10</td>
                        <td class="text-center @(model.T11 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T11</td>
                        <td class="text-center @(model.T12 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T12</td>
                        <td class="text-center @(model.T13 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T13</td>
                        <td class="text-center @(model.T14 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T14</td>
                        <td class="text-center @(model.T15 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T15</td>
                        <td class="text-center @(model.T16 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T16</td>
                        <td class="text-center @(model.T17 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T17</td>
                        <td class="text-center @(model.T18 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T18</td>
                        <td class="text-center @(model.T19 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T19</td>
                        <td class="text-center @(model.T20 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T20</td>
                        <td class="text-center @(model.T21 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T21</td>
                        <td class="text-center @(model.T22 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T22</td>
                        <td class="text-center @(model.T23 != "0" ? "bg-isValue" : null)" style="width:4rem">@model.T23</td>
                        <td class="text-center">
                            <i class="fa-solid fa-eye text-primary" style="cursor:pointer" @onclick="@(() => OnGoToDetail(model.ORGANIZATION_CODE!))"></i>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td class="d-flex align-items-center gap-2">
                    <div class="w-25 text-center">รวม</div>
                    @if (isView)
                    {
                        <div class="w-75 progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class=@($"progress-bar overflow-visible {StyleProgress(timelineSaleData.TimeLineSum.Progress!, timelineSaleData.TimeLineSum.SUM_DROP!)}") style=@($"width: {calValueProgress(timelineSaleData.TimeLineSum.Progress!, timelineSaleData.TimeLineSum.SUM_DROP!)}%")>
                                @($"{timelineSaleData.TimeLineSum.Progress}/{timelineSaleData.TimeLineSum.SUM_DROP}")
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="w-75 progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class=@($"progress-bar overflow-visible {StyleProgress(timelineData.TimeLineSum.Progress!, timelineData.TimeLineSum.SUM_DROP!)}") style=@($"width: {calValueProgress(timelineData.TimeLineSum.Progress!, timelineData.TimeLineSum.SUM_DROP!)}%")>@($"{timelineData.TimeLineSum.Progress}/{timelineData.TimeLineSum.SUM_DROP}")</div>
                        </div>
                    }
                </td>
                @if (isView)
                {
                    <td class="text-center">@timelineSaleData.TimeLineSum.T00</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T01</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T02</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T03</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T04</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T05</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T06</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T07</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T08</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T09</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T10</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T11</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T12</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T13</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T14</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T15</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T16</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T17</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T18</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T19</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T20</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T21</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T22</td>
                    <td class="text-center">@timelineSaleData.TimeLineSum.T23</td>
                }
                else
                {
                    <td class="text-center">@timelineData.TimeLineSum.T00</td>
                    <td class="text-center">@timelineData.TimeLineSum.T01</td>
                    <td class="text-center">@timelineData.TimeLineSum.T02</td>
                    <td class="text-center">@timelineData.TimeLineSum.T03</td>
                    <td class="text-center">@timelineData.TimeLineSum.T04</td>
                    <td class="text-center">@timelineData.TimeLineSum.T05</td>
                    <td class="text-center">@timelineData.TimeLineSum.T06</td>
                    <td class="text-center">@timelineData.TimeLineSum.T07</td>
                    <td class="text-center">@timelineData.TimeLineSum.T08</td>
                    <td class="text-center">@timelineData.TimeLineSum.T09</td>
                    <td class="text-center">@timelineData.TimeLineSum.T10</td>
                    <td class="text-center">@timelineData.TimeLineSum.T11</td>
                    <td class="text-center">@timelineData.TimeLineSum.T12</td>
                    <td class="text-center">@timelineData.TimeLineSum.T13</td>
                    <td class="text-center">@timelineData.TimeLineSum.T14</td>
                    <td class="text-center">@timelineData.TimeLineSum.T15</td>
                    <td class="text-center">@timelineData.TimeLineSum.T16</td>
                    <td class="text-center">@timelineData.TimeLineSum.T17</td>
                    <td class="text-center">@timelineData.TimeLineSum.T18</td>
                    <td class="text-center">@timelineData.TimeLineSum.T19</td>
                    <td class="text-center">@timelineData.TimeLineSum.T20</td>
                    <td class="text-center">@timelineData.TimeLineSum.T21</td>
                    <td class="text-center">@timelineData.TimeLineSum.T22</td>
                    <td class="text-center">@timelineData.TimeLineSum.T23</td>
                }

                <td class="text-center"></td>
            </tr>
        </tfoot>
    </table>
</div>


@code {
    private IJSObjectReference? JSModule;
    public ResultTimelineOrg timelineData { get; set; } = new();
    public ResultTimelineSaleOrg timelineSaleData { get; set; } = new();
    public IEnumerable<OrganizationData> optionsOrg = new List<OrganizationData>();
    public IEnumerable<PlanningRouteWeb.Models.RouteData> optionsRoute = new List<PlanningRouteWeb.Models.RouteData>();
    public List<string> column = new List<string> {"00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23" };
    public string? systems { get; set; }
    public string? selectOrg { get; set; }
    public string? selectRoute { get; set; }
    public bool isView { get; set; } = true;
    public string? ORGReq { get; set; }
    public DateTime dateStart { get; set; } = DateTime.Now;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        AutoLoadData();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            StateContainer.IsLoading = true;
            JSModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/site.js");
            await JSModule.InvokeVoidAsync("InitailJS.tooltipTrigger");
            await JSModule.InvokeVoidAsync("InitailJS.initailDatepicker");
            await LoadOrg();
            await LoadDataTimeline(isView);
            StateContainer.IsLoading = false;

            StateHasChanged();
        }
    }

    public void AutoLoadData()
    {
        var timer = new System.Threading.Timer((_) =>
       {
           InvokeAsync(async () =>
           {
               await LoadDataTimeline(isView);
               StateHasChanged();
           });
       }, null, 0, 300000);
    }

    public async Task LoadOrg(string org = "")
    {
        var req = new OrganizationRequest { ORG = org };
        var res = await PlanningService.PlanningGetORG(req);
        optionsOrg = res!.Data;

    }

    public async Task LoadRoute()
    {
        var req = new OrganizationRequest { ORG = $"{selectOrg}" };
        var res = await PlanningService.PlanningGetRoute(req);
        optionsRoute = res!.Data;
    }

    public async Task LoadDataTimeline(bool view)
    {
        
        var date = await JSModule!.InvokeAsync<List<string>>("JsFunction.getDatepicker");
        var systems = await JSModule!.InvokeAsync<List<string>>("JsFunction.getSystems");
        selectOrg = systems[0];
        ORGReq = string.Join(",", systems);

        var req = new TimelineReq
            {
                ORG = ORGReq,
                StartDate = date[0],
                EndDate = date[1],
                ROUTE = "",
                ReportShow = "ORG"
            };
        if (view)
        {
            var (error, timeline) = await TimelineService.GetTimeLineSale(req);
            if (error.Error)
            {
                await JSModule!.InvokeVoidAsync("JsFunction.toastTrigger", new ToastModel
                    {
                        action = "error",
                        messang = error.ErrorMessage
                    });
            }
            else
            {
                timeline.Data.TimelineSaleList = timeline.Data.TimelineSaleList.Select(x =>
                {
                    x.ORGANIZATION_NAME = optionsOrg.SingleOrDefault(o => o.ORGANIZATION_CODE == x.ORGANIZATION_CODE)!.ORGANIZATION_NAME;
                    return x;
                }).ToList();
                timelineSaleData = timeline.Data;
            }
        }
        else
        {
            var (error, timeline) = await TimelineService.GetTimeLine(req);
            if (error.Error)
            {
                await JSModule!.InvokeVoidAsync("JsFunction.toastTrigger", new ToastModel
                    {
                        action = "error",
                        messang = error.ErrorMessage
                    });
            }
            else
            {
                timeline.Data.TimelineList = timeline.Data.TimelineList.Select(x =>
                {
                    x.ORGANIZATION_NAME = optionsOrg.SingleOrDefault(o => o.ORGANIZATION_CODE == x.ORGANIZATION_CODE)!.ORGANIZATION_NAME;
                    return x;
                }).ToList();
                timelineData = timeline.Data;
            }
        }
    }
    public string calValueProgress(string val1, string val2)
    {
        var param1 = string.IsNullOrEmpty(val1) ? 0 : double.Parse(val1);
        var param2 = string.IsNullOrEmpty(val2) ? 0 : double.Parse(val2);
        var per = (param1 * 100) / param2;
        return per.ToString();
    }

    public string StyleProgress(string val1, string val2)
    {
        var param1 = string.IsNullOrEmpty(val1) ? 0 : double.Parse(val1);
        var param2 = string.IsNullOrEmpty(val2) ? 0 : double.Parse(val2);
        var per = (param1 * 100) / param2;
        if (per <= 33.33)
        {
            return "bg-danger";
        }
        else if (per > 33.33 && per < 100)
        {
            return "bg-warning";
        }
        else if (per > 100)
        {
            return "bg-over";
        }
        else
        {
            return "bg-success";
        }
    }

    public async Task OnChangeView(ChangeEventArgs e)
    {
        StateContainer.IsLoading = true;
        var val = Convert.ToBoolean($"{e.Value}");

        await LoadDataTimeline(val);
        StateContainer.IsLoading = false;
    }

    public async Task OnSearch()
    {
        StateContainer.IsLoading = true;
        await LoadDataTimeline(isView);
        StateContainer.IsLoading = false;
    }

    public async Task OnGoToDetail(string org)
    {
        var date = await JSModule!.InvokeAsync<List<string>>("JsFunction.getDatepicker");

        NavigationManager.NavigateTo($"/Timeline/Detail?ORG={org}&Start={date[0]}&End={date[1]}");
    }

    public async ValueTask DisposeAsync()
    {
        if (JSModule is not null)
        {
            await JSModule.DisposeAsync();
        }
    }
}
